{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h3>🔐 Жаңа құпиясөз орнату</h3>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ email }}">

        <div class="mb-3">
            <label for="password">Жаңа құпиясөз:</label>
            <input type="password" name="password" class="form-control" required minlength="6" placeholder="******">
        </div>

        <button type="submit" class="btn btn-primary">Сақтау</button>
    </form>
</div>
{% endblock %}
